@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* width: 100vw; */
}
/* Shared Style */

:root {
  --font-noto: "Noto Serif", serif;
  --font-inter: "Inter", sans-serif;
  --heading-color: ;
  --secondary-color: #e95a08;
  --text-color: #252432;
  --text-black: #000000;
  --text-white: #ffffff;
  --text-footer: #6b7280;
}

.container {
  max-width: 108rem;
  width: 100%;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem 2rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Theme Style */
/* ? Header Design Starting */
/* ! Navbar Design Starting */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 1rem;
  /* border: 2px solid red; */
}

.nav-links {
  display: flex;
  gap: 4.8rem;
}

.nav-link {
  list-style-type: none;
}

.nav-link-item {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--text-color);
}

/* ! Navbar Design Ending */

/* ! Hero Section Design Starting */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12rem 1rem;
}

.hero-content,
.hero-image {
  width: 50%;
}

.hero-title {
  font-family: var(--font-noto);
  font-size: 6.5rem;
  text-transform: uppercase;

  & span {
    color: var(--secondary-color);
  }
}

.hero-description {
  color: var(--text-black);
  opacity: 0.5;
  font-family: var(--font-inter);
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 1rem;
}

.hero-image img {
  width: 100%;
}

/* ! Hero Section Design Ending */
/* ? Header Design Ending */
